<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>00_hof_awesomeship_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,1}</string>
			<key>spriteSize</key>
			<string>{182,85}</string>
			<key>spriteSourceSize</key>
			<string>{182,85}</string>
			<key>textureRect</key>
			<string>{{0,94},{182,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>00_hof_awesomeship_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,1}</string>
			<key>spriteSize</key>
			<string>{182,85}</string>
			<key>spriteSourceSize</key>
			<string>{182,85}</string>
			<key>textureRect</key>
			<string>{{183,94},{182,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>00_hof_awesomeship_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,1}</string>
			<key>spriteSize</key>
			<string>{182,85}</string>
			<key>spriteSourceSize</key>
			<string>{182,85}</string>
			<key>textureRect</key>
			<string>{{191,0},{182,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>00_hof_awesomeship_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,1}</string>
			<key>spriteSize</key>
			<string>{190,93}</string>
			<key>spriteSourceSize</key>
			<string>{190,93}</string>
			<key>textureRect</key>
			<string>{{0,0},{190,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>00_hof_awesomeship-uhd.png</string>
		<key>size</key>
		<string>{373,179}</string>
		<key>textureFileName</key>
		<string>00_hof_awesomeship-uhd.png</string>
	</dict>
</dict>
</plist>
